[submodule "ack.vim"]
    path = home/.vim/bundle/ack.vim
    url = git://github.com/jeffawang/ack.vim.git
[submodule "nerdtree"]
    path = home/.vim/bundle/nerdtree
    url = git://github.com/jeffawang/nerdtree.git
[submodule "vim-airline"]
    path = home/.vim/bundle/vim-airline
    url = git://github.com/jeffawang/vim-airline.git
[submodule "vim-fugitive"]
    path = home/.vim/bundle/vim-fugitive
    url = git://github.com/jeffawang/vim-fugitive.git
[submodule "home/.vim/bundle/vim-snippets"]
	path = home/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "home/.vim/bundle/ultisnips"]
	path = home/.vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
